

  .cart-page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;   
    margin-top: -50px;
    
   
   
  }

  .product-details {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    
    width: 75%;
  }

  .product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .product-details ul {
    list-style: none;
    padding: 0;
    margin: 0;

  }

  .product-details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid ;
  }

  .product-details img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
  }

  .product-details span {
    font-size: 16px;
  }

  .product-details button {
    background-color: #ff5757;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .product-details button:hover {
    background-color: #d60000;
  }


  .summary{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
  }


  .summary li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #7bc5ec;
    padding-top: 2px;
  }

  .summary span {
    font-size: 16px;
  }

  .summary h4 {
    font-size: 18px;
    margin: 0;
  }


  .summary button {
    margin-top: 25px;
    width: 100%;
  }