<div class="signup-container">
  <div class="card">
    <mat-card>
      <h2>Login</h2>
      <p class="error-p">{{ authError }}</p>
      <mat-card-content>
        <form #sellerLogin="ngForm" (submit)="loginUser(sellerLogin.value)">
          <mat-form-field class="input-label-container">
            <mat-label>Email</mat-label>
            <input
              class="--input"
              type="email"
              matInput
              ngModel
              name="email"
              #Email="ngModel"
              required
            />
            <mat-error *ngIf="Email.invalid">Please enter an Email</mat-error>
          </mat-form-field>

          <mat-form-field class="input-label-container">
            <mat-label>Password</mat-label>
            <input
              class="--input"
              type="password"
              matInput
              ngModel
              name="password"
              #Password="ngModel"
              required
            />
            <mat-error *ngIf="Password.invalid"
              >Please enter a Password</mat-error
            >
          </mat-form-field>

          <div class="card-footer">
            <button type="submit" mat-raised-button color="primary">
              Login
            </button>
            <a routerLink="/seller-auth"
              >dont have an acoount Click to Signup</a
            >
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
