



form{
    display: flex;
    flex-direction: column;
}


mat-card{
    width: 40%;
    margin: 0 auto;
}

mat-card-content{
    margin-left: 80px;
}

h2{
    padding: 5px 10px;
}

.error-p{
    color: red;
    margin-left: 28%;
}



.input-label-container{
    height: 70px;
    width: 350px;
}
button{
   
    display: flex;
    justify-content: center;
}

.card-footer{
    display: flex;
    align-items: center;
    
  
}
.card-footer a{
    margin-left: 10px;
    text-decoration: none;
}


