<div>
  <div class="user-signup" *ngIf="!showLogIn">
    <mat-card>
      <mat-card-content>
        <h1>User Signup</h1>
        <form #userSignUp="ngForm" (submit)="signUp(userSignUp.value)">
          <mat-form-field class="input-label-container">
            <mat-label>Name</mat-label>
            <input
              class="--input"
              type="text"
              matInput
              ngModel
              name="name"
              #Name="ngModel"
              required
            />
            <mat-error *ngIf="Name.invalid">Please enter your name</mat-error>
          </mat-form-field>

          <mat-form-field class="input-label-container">
            <mat-label>Email</mat-label>
            <input
              class="--input"
              type="email"
              matInput
              ngModel
              name="email"
              #Email="ngModel"
              required
            />
            <mat-error *ngIf="Email.invalid">Please enter your email</mat-error>
          </mat-form-field>

          <mat-form-field class="input-label-container">
            <mat-label>Password</mat-label>
            <input
              class="--input"
              type="password"
              matInput
              ngModel
              name="password"
              #Password="ngModel"
              required
            />
            <mat-error *ngIf="Password.invalid"
              >Please enter your password</mat-error
            >
          </mat-form-field>

          <div class="card-footer">
            <button type="submit" mat-raised-button color="primary">
              Signup
            </button>
            <a (click)="openLogIn()"
              >already have an account <b>Click to login</b></a
            >
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="user-login" *ngIf="showLogIn">
    <mat-card>
      <mat-card-content>
        <h1>User login</h1>
        <form #userLogIn="ngForm" (submit)="logIn(userLogIn.value)">
          <p>{{ authError }}</p>

          <mat-form-field class="input-label-container">
            <mat-label>Email</mat-label>
            <input
              class="--input"
              type="email"
              matInput
              ngModel
              name="email"
              #Email="ngModel"
              required
            />
            <mat-error *ngIf="Email.invalid">Please enter your email</mat-error>
          </mat-form-field>

          <mat-form-field class="input-label-container">
            <mat-label>Password</mat-label>
            <input
              class="--input"
              type="password"
              matInput
              ngModel
              name="password"
              #Password="ngModel"
              required
            />
            <mat-error *ngIf="Password.invalid"
              >Please enter your password</mat-error
            >
          </mat-form-field>

          <div class="card-footer">
            <button
              [disabled]="userLogIn.invalid"
              type="submit"
              mat-raised-button
              color="primary"
            >
              Login
            </button>
            <a (click)="openSignUp()"
              >dont have an acoount <b>Click to Signup</b></a
            >
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
